@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}

/* header */
.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0;
  font-size: 2rem;
}
.input-container{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 3vw;
  padding: 0 1vw;
}
.location-input{
  border: none;
  text-align: center;
  outline: none;
}
.input-btn{
  background: transparent;
  border: none;
  padding-top: 1vh;
  cursor: pointer;
}