@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}
body{
  background-image: url('../images/bg-image.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* header */
.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0;
  font-size: 2rem;
}
.input-container{
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 3vw;
  padding: 0 1vw;
}
.location-input{
  border: none;
  text-align: center;
  outline: none;
  background: none;
}
.input-btn{
  background: transparent;
  border: none;
  padding-top: 1vh;
  cursor: pointer;
}
.header-container, .input-btn, .location-input, .location-input::placeholder{
  color: white;
}